//
   Created by a on 11/14/2015.

      //input(type="hidden" name="_csrf" value="{{ csrf_token }}")
div
   label() Page key  {{pages.length}}
div
   select(name="pageSelector", id="pageSelector",
          ng-model="currentPageId", ng-change="pageSelectorChange()",
          ng-options="page.key for page in selectorPages track by page.surveyPageId")
          //option(ng-repeat="page in pages", value="{{page.survey_page_id}}") {{page.key}}
div
   input(class="imageToolButton", type="image", id="addPageButton",
         ng-click="addPage()", src="css/icons/add.png")
   input(class="imageToolButton", type="image", id="editPageButton",
         ng-click="editPage()", src="/css/icons/tool.png")
   input(class="imageToolButton", type="image", id="addPageButton",
         ng-click="removePage()", src="css/icons/trash.png")
div
   label() Section key
div
   select(name="sectionSelector", id="sectionSelector",
          ng-model="currentSectionId", ng-change="sectionSelectorChange()",
          ng-options="section.key for section in selectorSections track by section.surveySectionId")
div
   input(class="imageToolButton", type="image", id="addSectionButton",
         ng-click="addSection()", src="/css/icons/add.png")
   input(class="imageToolButton", type="image", id="editSectionButton",
         ng-click="editSection()", src="/css/icons/tool.png")
   input(class="imageToolButton", type="image", id="removeSectionButton",
         ng-click="removeSection()", src="css/icons/trash.png")
div
   label() Question key
div
   select(name="questionSelector", id="questionSelector",
          ng-model="currentQuestionId", ng-change="questionSelectorChange()",
          ng-options="question.key for question in selectorQuestions track by question.surveyQuestionId")
div
   input(class="imageToolButton", type="image", id="addQuestionButton",
         ng-click="addQuestion()", src="/css/icons/add.png")
   input(class="imageToolButton", type="image", id="editQuestionButton",
         ng-click="editQuestion()", src="/css/icons/tool.png")
   input(class="imageToolButton", type="image", id="removeQuestionButton",
         ng-click="removeQuestion()", src="css/icons/trash.png")
div(ng-show="currentQuestion !== null")
   | Value input
   label Add multivalued?
      input(type="checkbox", ng-model="currentQuestion.valueOptionsIsMultivalued")
   div(ng-hide="currentQuestion.valueOptionsIsMultivalued")
      label Text field
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="text")
      label Select list
                      input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="select")
      label Radio button
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="radio")
      label "Checkbox"
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="checkbox")
      label "Star rating"
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="star")
      label() "Text area"
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="textArea")
   div(ng-show="currentQuestion.valueOptionsIsMultivalued")
      label Multiple text field
         input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="text")
      label Multi select list
         input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="select")
      label Multirow radio buttons
         input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="radio")
      label Multiple checkboxes
         input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="checkbox")
      label Multiple Star ratings
         input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="star")
   div
      input(class="imageToolButton", type="image", id="editPageButton",
                    ng-click="editValueOptions()", src="/css/icons/tool.png")
      input(class="imageToolButton", type="image", id="addPageButton",
                    ng-click="removeValueOptions()", src="css/icons/trash.png")
div
   input(type="submit", value="Save")
