//
   Created by a on 10/4/2015.
//
   Created by a on 9/17/2015.
div(ng-controller="SurveyCreateCtrl")
   p aaaaaaa
   form(name="Survey", ng-submit="commitChanges()")
      div(class="pure-g-r")
         div(class="pure-u-1-6")
            //input(type="hidden" name="_csrf" value="{{ csrf_token }}")
            div
                label() Page key  {{pages.length}}
            div
               select(name="pageSelector", id="pageSelector",
                      ng-model="currentPageId", ng-change="pageSelectorChange()",
                      ng-options="page.key for page in selectorPages track by page.survey_page_id")
                  //option(ng-repeat="page in pages", value="{{page.survey_page_id}}") {{page.key}}
            div
               input(class="imageToolButton", type="image", id="addPageButton",
                     ng-click="addPage()", src="css/icons/add.png")
               input(class="imageToolButton", type="image", id="editPageButton",
                     ng-click="editPage()", src="/css/icons/tool.png")
               input(class="imageToolButton", type="image", id="addPageButton",
                     ng-click="removePage()", src="css/icons/trash.png")

            div
               label() Section key
            div
               select(name="sectionSelector", id="sectionSelector",
                      ng-model="currentSectionId", ng-change="sectionSelectorChange()",
                      ng-options="section.key for section in selectorSections track by section.survey_section_id")
                  //option(ng-repeat="section in currentPage.sections",
                         value="{{section.survey_section_id}}") {{section.key}}
            div
               input(class="imageToolButton", type="image", id="addSectionButton",
                     ng-click="addSection()", src="/css/icons/add.png")
               input(class="imageToolButton", type="image", id="editSectionButton",
                     ng-click="editSection()", src="/css/icons/tool.png")
               input(class="imageToolButton", type="image", id="removeSectionButton",
                     ng-click="removeSection()", src="css/icons/trash.png")

            div
               label() Question key
            div
               select(name="questionSelector", id="questionSelector",
                      ng-model="currentQuestionId", ng-change="questionSelectorChange()",
                      ng-options="question.key for question in selectorQuestions track by question.survey_question_id")
                  //option(ng-repeat="question in currentSection.questions",
                         value="{{question.survey_question_id}}") {{question.key}}
            div
               input(class="imageToolButton", type="image", id="addQuestionButton",
                     ng-click="addQuestion()", src="/css/icons/add.png")
               input(class="imageToolButton", type="image", id="editQuestionButton",
                     ng-click="editQuestion()", src="/css/icons/tool.png")
               input(class="imageToolButton", type="image", id="removeQuestionButton",
                     ng-click="removeQuestion()", src="css/icons/trash.png")

            div(ng-show="currentQuestion !== null")
               | Value input
               label Add multivalued?
                  input(type="checkbox", ng-model="currentQuestion.valueOptionsIsMultivalued")
               div(ng-hide="currentQuestion.valueOptionsIsMultivalued")
                  label Text field
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="text")
                  label Select list
                      input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="select")
                  label Radio button
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="radio")
                  label "Checkbox"
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="checkbox")
                  label "Star rating"
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="star")
                  label() "Text area"
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="textArea")
               div(ng-show="currentQuestion.valueOptionsIsMultivalued")
                  label Multiple text field
                     input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="text")
                  label Multi select list
                      input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="select")
                  label Multirow radio buttons
                      input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="radio")
                  label Multiple checkboxes
                      input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="checkbox")
                  label Multiple Star ratings
                      input(type="radio", name="UIType", ng-model="valueOptionsValueUIType", value="star")

               div
                  input(class="imageToolButton", type="image", id="editPageButton",
                    ng-click="editValueOptions()", src="/css/icons/tool.png")
                  input(class="imageToolButton", type="image", id="addPageButton",
                    ng-click="removeValueOptions()", src="css/icons/trash.png")

            div
                input(type="submit", value="Save")
         div(class="pure-u-5-6")
            div(ng-show="currentlyEditing === ''")
                div(ng-repeat="page in pages")
                   div(style="color:red;" ng-bind-html="page.html")
                   div(ng-repeat="section in page.sections")
                      div(ng-bind-html="section.html")
                      div(ng-repeat="question in section.questions")
                         div(ng-bind-html="question.html")
                         div(ng-repeat="valueOption in question.valueOptions")
                            label(ng-if="question.valueOptionsValueUIType == 'text'",
                                   for="{{valueOption.key}}") {{valueOption.label}}:
                               input(type="text", name="{{valueOption.key}}",
                               ng-model="valueOption.userValue", ng-required="false")
                            label(ng-if="question.valueOptionsValueUIType == 'radio'",
                                  for="{{valueOption.key}}") {{valueOption.label}}:
                               div(ng-repeat="optionEntry in valueOption.optionEntries")
                                 label {{optionEntry.label}}
                                 input(type="radio", name="{{valueOption.key}}", value="{{optionEntry.key}}"
                                   ng-model="valueOption.userValue", ng-required="true")
            div(ng-show="currentlyEditing !== ''")
                div
                    button(class="pure-button", ng-click="saveEdit();")
                        i(class="fa fa-check")
                    button(class="pure-button", ng-click="cancelEdit();")
                        i(class="fa fa-trash")

                div(ng-show="currentlyEditing === 'HTML'")
                    label Key
                        input(type="text", ng-model="editingElementKeyValue")
                    | Description (text, images, videos, ...)
                    text-angular( ng-model="editingElementHTMLValue")


                div(ng-show="currentlyEditing === 'valueOptions'")
                    | Question key: {{currentQuestion.key}}
                    div(ng-show="currentQuestion.valueOptionsIsMultivalued")
                        input(class="imageToolButton", type="image", id="addQuestionButton",
                           ng-click="addValueOption()", src="/css/icons/add.png")
                    div(ng-repeat="valueOption in currentQuestion.valueOptions")
                        {{}}
                        div(ng-show="currentQuestion.valueOptionsValueUIType === 'text'")
                           label() Label:
                              input(type="text", name="{{valueOption.key}}",
                                 ng-model="valueOption.label", ng-required="false")
                           label() Key:
                              input(type="text", name="{{valueOption.key}}",
                                 ng-model="valueOption.key", ng-required="false")

