//
   Created by a on 10/4/2015.
//
   Created by a on 9/17/2015.
div(ng-controller="SurveyCreateCtrl")
   p aaaaaaa
   form(name="Survey", ng-submit="commitChanges()")
      div(class="pure-g-r")
         div(class="pure-u-1-6")
            //input(type="hidden" name="_csrf" value="{{ csrf_token }}")
            label() Page key
               input(type="text", ng-model="currentPageKey")
               select(name="pageSelector", id="pageSelector",
                      ng-model="currentPageId", ng-change="pageSelectorChange()")
                  option(ng-repeat="page in pages", value="{{page.survey_page_id}}") {{page.key}}
               input(class="imageToolButton", type="image", id="addPageButton",
                     ng-click="addPage()", src="css/icons/add.png")
               input(class="imageToolButton", type="image", id="editPageButton",
                     ng-click="editPage()", src="/css/icons/tool.png")
               input(class="imageToolButton", type="image", id="addPageButton",
                     ng-click="removePage()", src="css/icons/trash.png")

            | {{pages.length}}

            label() Section key
               input(type="text", ng-model="currentSectionKey")
               select(name="sectionSelector", id="sectionSelector",
                      ng-model="currentSectionId", ng-change="sectionSelectorChange()")
                  option(ng-repeat="section in currentPage.sections",
                         value="{{section.survey_section_id}}") {{section.key}}
               input(class="imageToolButton", type="image", id="addSectionButton",
                     ng-click="addSection()", src="/css/icons/add.png")
               input(class="imageToolButton", type="image", id="editSectionButton",
                     ng-click="editSection()", src="/css/icons/tool.png")
               input(class="imageToolButton", type="image", id="removeSectionButton",
                     ng-click="removeSection()", src="css/icons/trash.png")

            label() Question key
               input(type="text", ng-model="currentSectionKey")
               select(name="questionSelector", id="questionSelector",
                      ng-model="currentQuestionId", ng-change="questionSelectorChange()")
                  option(ng-repeat="question in currentSection.questions",
                         value="{{question.survey_question_id}}") {{question.key}}
               input(class="imageToolButton", type="image", id="addQuestionButton",
                     ng-click="addQuestion()", src="/css/icons/add.png")
               input(class="imageToolButton", type="image", id="editQuestionButton",
                     ng-click="editQuestion()", src="/css/icons/tool.png")
               input(class="imageToolButton", type="image", id="removeQuestionButton",
                     ng-click="removeQuestion()", src="css/icons/trash.png")


            table
               tr
                  td
                     input(type="button", value="Add radio", ng-click="addRadio(page.survey_page_id, section.survey_section_id, question.survey_question_id)")
                  td
                     input(type="button", value="Add text", ng-click="addText(page.survey_page_id, section.survey_section_id, question.survey_question_id)")

         div(class="pure-u-5-6")
            div(ng-repeat="page in pages")
               div(ng-repeat="section in page.sections")
                  p section_id = {{section.survey_section_id}}
                  div(ng-repeat="question in section.questions")
                     div(ng-repeat="valueOption in question.valueOptions")
                        //p valueOption(TextType?) {{valueOption.questionFormType}} {{valueOption.questionFormType == 'TextType'}}
                        label(ng-if="valueOption.questionFormType == 'TextType'"
                        for="{{valueOption.label}}{{question.survey_question_id}}") {{valueOption.text}}:
                           input(type="text", name="{{valueOption.label}}.{{question.survey_question_id}}",
                           ng-model="valueOption.userValue", ng-required="true")
                        //p valueOption(RadioType?) {{valueOption.questionFormType}} {{valueOption.questionFormType == 'RadioType'}}
                        label(ng-if="valueOption.questionFormType == 'RadioType'"
                        for="{{valueOption.label}}{{question.survey_question_id}}") {{valueOption.text}}:
                           input(type="radio", name="{{valueOption.label}}.{{question.survey_question_id}}",
                           ng-model="valueOption.userValue", ng-required="true")
            div
               input(type="submit", value="Save")

